/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 5, ../../../../../../../../private/var/folders/q3/4fq4k53j3t188dy2q3qsfkq00000gr/T/AppTranslocation/9D477F7E-D6EB-48C8-947A-26DC43A76364/d/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../private/var/folders/q3/4fq4k53j3t188dy2q3qsfkq00000gr/T/AppTranslocation/9D477F7E-D6EB-48C8-947A-26DC43A76364/d/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../private/var/folders/q3/4fq4k53j3t188dy2q3qsfkq00000gr/T/AppTranslocation/9D477F7E-D6EB-48C8-947A-26DC43A76364/d/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../private/var/folders/q3/4fq4k53j3t188dy2q3qsfkq00000gr/T/AppTranslocation/9D477F7E-D6EB-48C8-947A-26DC43A76364/d/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../private/var/folders/q3/4fq4k53j3t188dy2q3qsfkq00000gr/T/AppTranslocation/9D477F7E-D6EB-48C8-947A-26DC43A76364/d/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../private/var/folders/q3/4fq4k53j3t188dy2q3qsfkq00000gr/T/AppTranslocation/9D477F7E-D6EB-48C8-947A-26DC43A76364/d/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../private/var/folders/q3/4fq4k53j3t188dy2q3qsfkq00000gr/T/AppTranslocation/9D477F7E-D6EB-48C8-947A-26DC43A76364/d/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../private/var/folders/q3/4fq4k53j3t188dy2q3qsfkq00000gr/T/AppTranslocation/9D477F7E-D6EB-48C8-947A-26DC43A76364/d/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../private/var/folders/q3/4fq4k53j3t188dy2q3qsfkq00000gr/T/AppTranslocation/9D477F7E-D6EB-48C8-947A-26DC43A76364/d/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/screen.scss */
body {
  padding: 20px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

/* line 25, ../sass/screen.scss */
header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
}

/* line 32, ../sass/screen.scss */
h1 {
  font-size: 30px;
  font-weight: 700;
  color: #01508d;
}

/* line 38, ../sass/screen.scss */
h2 {
  font-size: 20px;
  font-weight: 700;
  color: #01508d;
}

/* line 44, ../sass/screen.scss */
h3 {
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-decoration: underline;
}

/* line 51, ../sass/screen.scss */
.hide {
  display: none;
}

/** CSS FOR HEADER.PHP **/
/* line 55, ../sass/screen.scss */
.nav-title {
  border-bottom: 1px solid black;
}
/* line 58, ../sass/screen.scss */
.nav-title #logo {
  max-width: 225px;
}
/* line 61, ../sass/screen.scss */
.nav-title h1 {
  text-transform: uppercase;
  text-decoration: underline;
}

/* line 67, ../sass/screen.scss */
button {
  background-color: #01508d;
  color: #ffc61e;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/** CSS FOR LOGIN INDEX **/
/* line 78, ../sass/screen.scss */
.login-form {
  max-width: 350px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 3px solid #ffc61e;
}
/* line 85, ../sass/screen.scss */
.login-form #sub {
  font-size: 16px;
}
/* line 89, ../sass/screen.scss */
.login-form .form-input {
  font-size: 16px;
  width: 15em;
  height: 2em;
}

/** LINK STYLES **/
/* line 100, ../sass/screen.scss */
.nav-links li {
  display: inline-block;
}

/* line 106, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #01508d;
  font-weight: 700;
}

/* line 112, ../sass/screen.scss */
a:hover {
  color: #ffc61e;
}

/* line 117, ../sass/screen.scss */
#head-links {
  border: 1px solid #01508d;
  border-radius: 5px;
  padding: 3px;
  color: #01508d;
  background-color: white;
  text-decoration: none;
}

/* line 126, ../sass/screen.scss */
#head-links:hover {
  color: #ffc61e;
  background-color: #01508d;
}

/* line 132, ../sass/screen.scss */
#this-link {
  border: 1px solid #01508d;
  border-radius: 5px;
  padding: 3px;
  color: #ffc61e;
  background-color: #01508d;
}

/** HAMBURGER MENU **/
/* line 141, ../sass/screen.scss */
.menu, .hamburger, .cross {
  display: none;
}

/* line 145, ../sass/screen.scss */
.hamburger, .cross {
  background: none;
  /**position:absolute;
  top:0px;
  left:0; **/
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #ffc61e;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

/* line 161, ../sass/screen.scss */
.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 93%;
  background: #fff;
  position: absolute;
  text-align: center;
  font-size: 14px;
}

/* line 170, ../sass/screen.scss */
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

/* line 175, ../sass/screen.scss */
.menu li {
  display: block;
  padding: 15px 0 15px 0;
}

/* line 179, ../sass/screen.scss */
.menu li:hover {
  display: block;
  background: #01508d;
  padding: 15px 0 15px 0;
  border-bottom: #01508d 1px solid;
}

/* line 184, ../sass/screen.scss */
.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #fff;
}

/* line 186, ../sass/screen.scss */
.menu ul li a:hover {
  color: #ffc61e;
  text-decoration: none;
}

/* line 188, ../sass/screen.scss */
.menu a {
  text-decoration: none;
  color: #01508d;
}

/* line 189, ../sass/screen.scss */
.menu a:hover {
  text-decoration: none;
  color: #ffc61e;
  background-color: #01508d;
}

/* line 193, ../sass/screen.scss */
.this-menu {
  background-color: #01508d;
  color: #ffc61e;
  font-weight: 800;
}

/* line 200, ../sass/screen.scss */
.class-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* line 209, ../sass/screen.scss */
.box {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  max-width: 350px;
  font-size: 14px;
  text-align: justify;
}

/** index page **/
/* line 221, ../sass/screen.scss */
.box > h2 {
  text-decoration: underline;
  text-transform: uppercase;
  color: #01508d;
  font-weight: 900;
}

/* line 228, ../sass/screen.scss */
.box > a {
  font-style: italic;
}

/** announcement page **/
/* line 233, ../sass/screen.scss */
.all-updates {
  padding: 15px;
}

/* line 237, ../sass/screen.scss */
.current-update {
  padding: 30px;
  border: #01508d 5px solid;
  max-width: 900px;
  text-align: left;
}

/* line 244, ../sass/screen.scss */
.prev-update {
  padding: 30px;
  border: #b1b1b1 1px solid;
  max-width: 900px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 253, ../sass/screen.scss */
.update {
  margin-top: 20px;
}

/* line 258, ../sass/screen.scss */
.dload img {
  max-height: 18px;
}

/** DROPDOWN MENU **/
/* line 267, ../sass/screen.scss */
.styled-select {
  overflow: hidden;
  border: none;
}

/* line 273, ../sass/screen.scss */
.styled-select select {
  padding: 10px;
  font-size: 18px;
  font-weight: 800px;
  background-color: #01508d;
  color: #ffc61e;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

/* line 284, ../sass/screen.scss */
.styled-select select:focus {
  outline: none;
  background-color: #01508d;
  color: #ffc61e;
}

/* line 290, ../sass/screen.scss */
.my-classes {
  padding: 30px;
  border: #b1b1b1 1px solid;
  text-align: left;
  margin-top: 20px;
}
/* line 296, ../sass/screen.scss */
.my-classes h2 {
  text-decoration: underline;
}

/** PROF ASSIGNMENT PAGE **/
/* line 302, ../sass/screen.scss */
#class-name {
  background-color: #ffc61e;
}

/* line 305, ../sass/screen.scss */
.prev-update textarea {
  width: 100%;
  height: 20em;
  font-size: 14px;
  border: 1px solid black;
}

/* line 312, ../sass/screen.scss */
.prev-update input {
  font-size: 18px;
  max-width: 20em;
  min-width: 15em;
  border: 1px solid black;
}

@media screen and (max-width: 1000px) {
  /* line 323, ../sass/screen.scss */
  body {
    padding: 3px;
  }

  /* line 328, ../sass/screen.scss */
  .nav-title h1 {
    font-size: 20px;
  }
  /* line 329, ../sass/screen.scss */
  .nav-title #logo {
    width: 150px;
  }

  /* line 334, ../sass/screen.scss */
  .nav-links {
    display: none;
  }

  /* line 338, ../sass/screen.scss */
  .menu, .hamburger, .cross {
    display: block;
  }

  /* line 342, ../sass/screen.scss */
  .menu {
    width: 98%;
  }
}
