body { 
  text-align: center; 
}
#header { 
  border: 2px #000 solid;
}
#main { 
  border: 2px #000 solid;
  min-height: 300px;
}
#delimiter { 
  clear: both; 
}
#footer { 
  border: 2px #000 solid; 
}
